myapp/static/images/7757.jpg
myapp/static/images/47048.jpg
myapp/static/images/2392611.jpg
myapp/static/images/2778410.jpg
myapp/static/images/3915228.jpg
myapp/static/images/5104194.jpg
myapp/static/images/amol-sonar-Y2bJAj3NwSc-unsplash.jpg
myapp/static/images/art-3561710.jpg
myapp/static/images/ayurvedic.png
myapp/static/images/basket-160442.svg
myapp/static/images/bethany-szentesi-c6zenQDVavc-unsplash.jpg
myapp/static/images/branch-309208.svg
myapp/static/images/cart-70-512.png
myapp/static/images/cat1.jpg
myapp/static/images/cat2.jpg
myapp/static/images/cat3.jpg
myapp/static/images/cat4.jpg
myapp/static/images/cat5.jpg
myapp/static/images/cat6.jpg
myapp/static/images/cat7.jpg
myapp/static/images/cat8.jpg
myapp/static/images/cat9.jpg
myapp/static/images/cat10.jpg
myapp/static/images/cat11.jpg
myapp/static/images/cat12.jpg
myapp/static/images/christmas-1911637_1920.jpg
myapp/static/images/dairy.png
myapp/static/images/dark-rider-JmVaNyemtN8-unsplash.jpg
myapp/static/images/download_1.png
myapp/static/images/download_2.png
myapp/static/images/download.png
myapp/static/images/download1.png
myapp/static/images/eiliv-sonas-aceron-_8bnn1GqX70-unsplash.jpg
myapp/static/images/facebook (1).png
myapp/static/images/fruits.png
myapp/static/images/gabriel-jimenez-jin4W1HqgL4-unsplash.jpg
myapp/static/images/garden-1816293.jpg
myapp/static/images/grass-159804.svg
myapp/static/images/grocery.png
myapp/static/images/HDFC-.png
myapp/static/images/herb-2915337_1920.jpg
myapp/static/images/hydroponics-4684821.jpg
myapp/static/images/icons8-google-480.png
myapp/static/images/india.png
myapp/static/images/instagram (1).png
myapp/static/images/integration-3527263.jpg
myapp/static/images/khet.jpg
myapp/static/images/ladle.png
myapp/static/images/ladoo.png
myapp/static/images/leaf-3283175_1920.jpg
myapp/static/images/makeup-pouch.png
myapp/static/images/markus-spiske-sFydXGrt5OA-unsplash.jpg
myapp/static/images/nature-2754285.svg
myapp/static/images/ornament-2019452_1280.png
myapp/static/images/pexels-alisha-mishra-1346347.jpg
myapp/static/images/pexels-bach-hanzo-3551355.jpg
myapp/static/images/pexels-monserrat-soldú-3821250.jpg
myapp/static/images/pexels-suzy-hazelwood-1184265.jpg
myapp/static/images/poison (1).png
myapp/static/images/pooja.png
myapp/static/images/Scene-19.jpg
myapp/static/images/Scene-20.jpg
myapp/static/images/Screenshot_6.png
myapp/static/images/Screenshot_7.png
myapp/static/images/Screenshot_8.png
myapp/static/images/Screenshot_9.png
myapp/static/images/sidney-severin-R8Fg4uQfcGc-unsplash.jpg
myapp/static/images/Standy_2_1.jpg
myapp/static/images/sunflower.jpg
myapp/static/images/utensils.png
myapp/static/images/vakshi_benifits.png
myapp/static/images/vakshi_logo.png
myapp/static/images/warning.png
myapp/static/images/WhatsApp Image 2021-07-31 at 00.29.08.jpeg
myapp/static/images/WhatsApp Image 2021-08-12 at 23.07.11.jpeg
myapp/static/images/WhatsApp Image 2021-08-13 at 00.20.02.jpeg
myapp/static/images/WhatsApp Image 2021-08-13 at 00.22.00.jpeg
myapp/static/images/WhatsApp Image 2021-08-13 at 00.27.33.jpeg
myapp/static/images/WhatsApp Image 2021-08-13 at 00.27.34.jpeg
myapp/static/images/whatsapp.png
myapp/static/images/youtube.png
media/awarenessImage/bethany-szentesi-c6zenQDVavc-unsplash.jpg
media/awarenessImage/cat8.jpg
media/productimg/7757.jpg
media/productimg/2778410.jpg
media/productimg/ayurvedic_MTGDtlt.png
media/productimg/ayurvedic.png
media/productimg/cat2.jpg
media/productimg/dairy.png
media/productimg/fruits.png
media/productimg/gaspar-manuel-zaldo-Gof5E163XEg-unsplash.jpg
media/productimg/ladoo.png
media/productimg/WhatsApp_Image_2021-07-17_at_3.21.20_PM_hn7eKpV.jpeg
