{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block style %} <link rel="stylesheet" href="../static/cs/forms.css"> {% endblock style %}

{% block navbar %}

<div id="menu-bar" class="fas fa-bars"></div>

            <nav class="navbar">
                <a href="{% url 'home' %}" style="font-weight: bold; font-size: 23px;">Home</a>
                <a href="{% url 'about' %}" style="font-weight: bold; font-size: 23px;">About Us</a>
                <a href="{% url 'products' %}" style="font-weight: bold; font-size: 23px;">Shop</a>
                <a href="#deal" style="font-weight: bold; font-size: 23px;">Disease Blogs</a>
                {% if not request.user.is_authenticated %}
                <a href="{% url 'log_in' %}" style="font-weight: bold; font-size: 23px;color: #00aff0; background-color: white; border-radius: 2rem; padding: 1rem;">LogIn/SignUp</a>
                {% endif %}
                <a href="{% url 'contact' %}" style="font-weight: bold; font-size: 23px;">Contact Us</a>
                <a href="" style="font-weight: bold; font-size: 23px;">FAQ</a>
            </nav>

{% endblock navbar %}

{% block content %}

<div class="container-form"> 

<h1 class="heading">Log in</h1>

<form action="" method="post" class="form" novalidate>
    {% csrf_token %}
    
    <ul>
    {% for fm in form %}
    <li>{{fm.label_tag}}  {{fm}} </li> {{fm.errors|striptags}}
    {% endfor %}
    </ul>
    <input id="sub-button" type="submit" value="Login">

{% if form.non_field_errors %}
<ul>
    {% for error in form.non_field_errors %} 
    <li>
    {{error}} 
    </li> 
    {% endfor %}
</ul>
    {% endif %}
</form>
<p>Don't have an account ? <a class="signup-link" href="{% url 'sign_up' %}">Sign up</a></p>
<button type="submit"><a href="{% url 'password_reset' %}">Forgot password</a></button>
</div>
{% endblock %}