{% extends 'base.html' %}

{% block title %} Vakshi | Password Reset Confirm {% endblock title %}

{% block style %} <link rel="stylesheet" href="/static/cs/forms.css"> {% endblock style %}}

{% block content %}

<div class="container-form"> 

<h1 class="heading" >Password Reset Confirm</h1>

<form action="" method="post" class="form" novalidate>
    {% csrf_token %}
    <ul>
    {% for fm in form %}
    <li>{{fm.label_tag}}  {{fm}} </li> {{fm.errors|striptags}}
    {% endfor %}
    </ul>
    <input id='sub-button' type="submit" value="submit">
</form>
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %} 
    {{error}} 
    {% endfor %}
{% endif %}
</div>

{% endblock content %}