{% extends 'base.html' %}

{% block title %} VAKSHI | {{product.title}} {% endblock title %}

{% block style %}
<link rel="stylesheet" href="../static/cs/product-detail.css">{% endblock style %}

{% block content %}

<div class="product">
    <div class="pro-img">
        <div id="carouselExampleCaptions" class="carousel slide top-car" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"
                    aria-current="true"></button>
            </div>
            <div class="carousel-inner">

                {% for p in pics %}
                <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}" data-bs-interval="3000">
                    <img src="{{p.images.url}}" class="d-block " alt="...">
                </div>
                {% endfor %}

                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- 
        {% for p in pics %}
                    <img src="{{p.images.url}}" class="d-block " alt="...">
                {% endfor %} -->


        <img src="" alt="">
        <div class="horz">
            {% if product.is_inStock == 's' or product.is_inStock == 'S' %}
            <form action="/add-to-cart" class="container-form">
                <input type="hidden" name="prod_id" value="{{product.id}}">
                <input type="hidden" name="prod_title" value="{{product.title}}">
                <button type="submit" class="btn" id="sub-button">Add To Cart</button>
            </form>
            {% endif %}
            {% if product.is_inStock == 's' or product.is_inStock == 'S' %}
            <p style="color: rgb(36, 224, 18);">In Stock</p>
            {% endif %}
            {% if product.is_inStock == 'os' or product.is_inStock == 'OS' %}
            <p style="color: red;">Out of Stock</p>
            {% endif %}
        </div>
    </div>
    <div class="pro-det">
        <h1>{{product.title}}</h1>
        <p class="price">₹ {{product.discounted_price}}</p>
        {% if product.discounted == 'd' or product.discounted == 'D' %}
        <p class="discounted">Discounted</p>
        {% endif %}
        <iframe width="300" height="200" src="{{product.prod_video}}" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <p>{{product.description}}</p>
    </div>
</div>

{% endblock content %}