{% extends 'base.html' %}

{% block title %}Products{% endblock title %}

{% block style %} <link rel="stylesheet" href="../static/cs/products.css"> {% endblock style %}
{% block navbar %}

<div id="menu-bar" class="fas fa-bars"></div>

            <nav class="navbar">
                <a href="{% url 'home' %}" style="font-weight: bold; font-size: 23px;">Home</a>
                <a href="{% url 'about' %}" style="font-weight: bold; font-size: 23px;">About Us</a>
                <a href="{% url 'products' %}" style="font-weight: bold; font-size: 23px; {{active}}">Shop</a>
                <a href="#deal" style="font-weight: bold; font-size: 23px;">Disease Blogs</a>
                {% if not request.user.is_authenticated %}
                <a href="{% url 'log_in' %}" style="font-weight: bold; font-size: 23px;">LogIn/SignUp</a>
                {% endif %}
                <a href="{% url 'contact' %}" style="font-weight: bold; font-size: 23px;">Contact Us</a>
                <a href="" style="font-weight: bold; font-size: 23px;">FAQ</a>
            </nav>

{% endblock navbar %}
{% block content %}

<!-- category section starts  -->
    
<section class="category" id="category">

    <h1 class="heading"> Shop by Category </h1>

    <div class="box-container">

        <div class="box">
            <img src="../static/images/cat1.jpg" alt="">
            <div class="content">
                <h3>Organic Groceries</h3>
                <a href="{% url 'grocery-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat4.jpg" alt="">
            <div class="content">
                <h3>Dairy Products</h3>
                <a href="{% url 'milk-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat3.jpg" alt="">
            <div class="content">
                <h3>Cooking Vessels</h3>
                <a href="{% url 'clay-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat5.jpg" alt="">
            <div class="content">
                <h3>Ayurvedic Herbs and Herbal Juices</h3>
                <a href="{% url 'ayurvedic-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/dryFruits.jpg" alt="">
            <div class="content">
                <h3>Organic Dry Fruits</h3>
                <a href="{% url 'dryFruits-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat4.jpg" alt="">
            <div class="content">
                <h3>Ready To Eat</h3>
                <a href="{% url 'ready-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat9.jpg" alt="">
            <div class="content">
                <h3>Organic Beverages</h3>
                <a href="{% url 'beverages-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat7.jpg" alt="">
            <div class="content">
                <h3>Personal Care Products</h3>
                <a href="{% url 'cosmetic-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat11.jpg" alt="">
            <div class="content">
                <h3>Organic Teas</h3>
                <a href="{% url 'tea-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat8.jpg" alt="">
            <div class="content">
                <h3>Natural Air Purifiers</h3>
                <a href="{% url 'natural-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat2.jpg" alt="">
            <div class="content">
                <h3>Vegetables and Fruits</h3>
                <a href="{% url 'vegetable-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/cat12.jpg" alt="">
            <div class="content">
                <h3>Miscellaneous</h3>
                <a href="{% url 'miscellaneous-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/flour.jpg" alt="">
            <div class="content">
                <h3>Organic Flours</h3>
                <a href="{% url 'flour-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/honey.jpg" alt="">
            <div class="content">
                <h3>Organic Honey/Sugar/Sweetener</h3>
                <a href="{% url 'honey-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/millets.jpg" alt="">
            <div class="content">
                <h3>Organic Millets</h3>
                <a href="{% url 'millets-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/oil.jpg" alt="">
            <div class="content">
                <h3>Organic Oil and Ghee</h3>
                <a href="{% url 'oil-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/poojan.jpg" alt="">
            <div class="content">
                <h3>Poojan Samagri</h3>
                <a href="{% url 'poojan-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/pulses.jpg" alt="">
            <div class="content">
                <h3>Organic Pulses</h3>
                <a href="{% url 'pulses-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/rice.jpg" alt="">
            <div class="content">
                <h3>Organic Rices</h3>
                <a href="{% url 'rice-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/spices.jpg" alt="">
            <div class="content">
                <h3>Organic Spices</h3>
                <a href="{% url 'spices-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/sweets.jpg" alt="">
            <div class="content">
                <h3>Organic Sweets and Snacks</h3>
                <a href="{% url 'sweets-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/47048.jpg" alt="">
            <div class="content">
                <h3>Organic Baskets</h3>
                <a href="{% url 'baskets-products' %}" class="btn">shop now</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/images/47048.jpg" alt="">
            <div class="content">
                <h3>Breakfast Cereals</h3>
                <a href="{% url 'breakfast-products' %}" class="btn">shop now</a>
            </div>
        </div>
    </div>

</section>

<!-- category section ends -->


{% endblock content %}