*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    /* text-transform: capitalize; */
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }

.container-form {
    background-color: whitesmoke;
    width: fit-content;
    margin: auto;
    margin: 5rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black ; */
    box-shadow: 1px 1px 2px black;
}

/* .container-form :hover {
    box-shadow: 1px 1px 2px black;
} */

/* .container-form h1 {
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 2rem;
} */

.heading{
    font-size: 50px;
    text-shadow: none;
}

.container-form li {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
    margin-block-start: 1rem;
}

.container-form button {
    display: flex;
    font-size: 24px;
    padding: 0.5rem 1rem;
    background-color: rgb(225, 225, 230);
    box-shadow: 1px 1px 2px black;
    /* border: 2px solid black; */
}

.container-form button a {
    color: black;
    text-decoration: none;
}

.container-form p {
    font-size: 24px;
}

.form {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid black;
    margin-left: 1rem;
}

#sub-button {
    padding: 0.5rem 1rem;
    background-color: rgb(225, 225, 230);
    box-shadow: 1px 1px 2px black;
    /* border: 2px solid black; */
    margin: 2rem 0;
}



@media (max-width:1200px){

    html{
      font-size: 55%;
    }
  
  }

  @media (max-width:1000px) {
    
    
    .heading {
      font-size: 45px;
    }
  }


  @media (max-width:660px){
    *{
        font-size: 85%;
    }

    .heading {
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2.1rem;
    }
    .container-form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        margin: 3rem 0.5rem;
    }
}