*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s ease-in-out;

  }

.btn {
    background-color: var(--blue);
  }
  
  p {
    font-size: 20px;
  }
  
  h1 {
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 3rem;
  }
  
  .heading span {
    color: var(--green);
    font-family: 'Abril Fatface', cursive;
  }
  
  :root {
    --green: #00d03a;
    --blue: #00aff0;
  }

.payment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 5rem auto;
}

.payment .qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
}

.payment .qrcode img {
  width: 400px;
}

.bank-details {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.detail-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg {
  border: 1rem solid var(--blue);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}