*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.btn {
  background-color: var(--blue);
}

.heading {
  display: flex;
  /* text-shadow: 2px 2px 2px black; */
  justify-content: center;
  align-items: center;
  /* font-family: 'Rozha One', serif; */
  /* font-family: 'Cabin Sketch', cursive; */
  /* font-family: 'Rye', cursive; */
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  /* border-left: .4rem solid var(--blue); */
  padding-left: 2rem;
  margin: 5rem 0rem;
  color: var(--blue);
}

:root {
  /* --green: rgb(36, 224, 18); */
  --green: #00d03a;
  --blue: #00aff0;
}

.category .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-bottom: 5rem;
  }
  
  .category .box-container .box{
    position: relative;
    flex:1 1 24rem;
    flex-wrap: wrap;
    height: 35rem;
    overflow: hidden;
    border: 0.5rem solid var(--blue);
  border-radius: 2rem;
    box-shadow: 1px 1px 2px black;
    -webkit-box-shadow: 1px 1px 2px black;
  -moz-box-shadow: 1px 1px 2px black;
  }
  
  .category .box-container .box img{
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    object-fit: cover;
  }
  
  .category .box-container .box .content{
    position: absolute;
    bottom: -5.5rem;
    background: #fff;
    border-top:.1rem solid rgba(0,0,0,.3);
    text-align: center;
    padding:.5rem 0;
    width:100%;
  }
  
  .category .box-container .box:hover .content{
    bottom:0;
  }
  
  .category .box-container .box .content h3{
    color:#333;
    font-size: 2.5rem;
    padding:.5rem 0;
  }
  
  .category .box-container .box .content .btn{
    margin-bottom: 1.3rem;
  }

  .container-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
  }
  
  .product .box-container .box{
    flex:1 1 25rem;
    border: 1rem solid var(--blue);
  border-radius: 2rem;
    box-shadow: 1px 1px 2px black;
    text-align: center;
    width: 22%;
    font-size: 20px !important;
    height: 35rem;
    position: relative;
    overflow: hidden;
  }

  
  
  .product .box-container .box img{
    width: fit-content;
    height: 60%;
    border-bottom:.1rem solid rgba(0,0,0,.3);
    object-fit: cover;
  }
  
  .product .box-container .box .discount{
    position: absolute;
    top:1rem; left:1rem;
    background:rgba(0,255,0,.1);
    color:var(--blue);
    font-size: 1.5rem;
    padding:.5rem 1rem;
  }
  
  .product .box-container .box .icons{
    position: absolute;
    top:1rem; right:-8rem;
    display: flex;
    flex-flow: column;
    background:#fff;
    border-radius: 5rem;
    padding:.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }
  
  .product .box-container .box:hover .icons{
    right:1rem;
  }
  
  .product .box-container .box .icons a{
    height: 4rem;
    width:4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    color:#333;
    border-radius: 5rem;
    margin:.1rem;
  }
  
  .product .box-container .box .icons a:hover{
    color:#fff;
    background:var(--blue);
  }
  
  .product .box-container .box h3{
    color:#333;
    font-size: 20px;
    padding:0.5rem 0;
  }
  
  .product .box-container .box .stars i{
    color:gold;
    font-size: 1.5rem;
  }
  
  .product .box-container .box .quantity{
    padding:1rem 0;
  }
  
  .product .box-container .box .quantity span{
    font-size: 2rem;
  }
  
  .product .box-container .box .quantity input{
    font-size: 2rem;
    padding:.5rem;
    text-align: center;
    background:rgba(0,0,0,.1);
  }
  
  .product .box-container .box .price{
    font-weight: bolder;
    color:var(--blue);
    font-size: 20px;
  }
  
  .product .box-container .box .price span{
    text-decoration: line-through;
    color:#999;
    font-size: 20px;
  }
  
  .product .box-container .box .btn{
    display: block;
  }

  .stock {
    margin-top: 1.5rem;
  }
  

  @media (max-width:1000px) {
    
    
    .heading {
      font-size: 45px;
    }
  }


  @media (max-width:660px){
    *{
        font-size: 80%;
    }

    .heading {
        font-size: 40px;
    }
}