:root{
    --green:rgb(36, 224, 18);
    --blue: #00aff0;
  }

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }

.product {
    display: flex;
    flex-direction: row;
    margin: 5% 5%;
    gap: 5rem;
}

.pro-img {
    width: 150%;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.pro-img img {
    width: 100%;
    object-fit: cover;
}

.pro-img :hover {
    transform: scale(1.1);
}

.pro-det {
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
    font-size: 20px;
}

h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-size: 34px ;
}

.discounted {
    background-color: #00b0f071;
    padding: 0.5rem 1rem;
}

iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border-radius: 2rem;
}

.horz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.horz p {
    margin-top: 2rem;
}


@media (max-width:1200px){

    html{
      font-size: 55%;
    }
  
  }

@media (max-width:1000px) {
    .product {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 36px;
      }

    p {
        font-size: 20px !important;
    }
    .pro-img {
        width: 100%;
        object-fit: cover;
        margin: auto;
    }
}
